<h2 class="signup">Edit User</h2>

<div id=reqform >

  <p><b>Email:</b>
    <%= @user_data.email %></p>

  <p><b>Company: </b>
    <%= @user_data.company %> 
  </p>

  <p><b>Street: </b>
    <%= @user_data.street %> </p>

  <p><b>City: </b>
    <%= @user_data.city %> </p>

  <p><b>State: </b>
    <%= @user_data.state %> </p>

  <p><b>Zip: </b>
    <%= @user_data.zip %> </p>

  <p><b>Country: </b>
    <%= @user_data.country %> </p>

  <p><b>Phone: </b>
    <%= @user_data.phone %> </p>

</div>

<%= link_to "Back", :back %>

